/* Phần background ảnh bên trái */
.bg_image {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  transition: transform 0.6s ease;
  width: 100%;
  height: 100vh;
  background: linear-gradient(225deg, #5c44bb 0%, #141415 100%)
}



/* Phần form bên phải */
.form_container {
  background-color: #fff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: opacity 0.6s ease;
  border: 1px solid black;
  border-radius: 10px;
  margin: 150px auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.form_container form {
  width: 75%;
}

.logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  transition: all 0.3s ease;
}

.submit {
  border: none;
}

.gradient-hover-effect {
  display: flex;
  background: linear-gradient(90deg, #035714, transparent) #047d2a;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
}

.gradient-hover-effect:hover,
.gradient-hover-effect:focus {
  background-color: #0b1e6a;
  color: #fff;
}

.create-account {
  display: flex;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
  border: none;
  justify-content: flex-end; 
 
}

.form-control {
  border-radius: 20px;
}

.forgot-password{
  text-align: left;
  padding: 0;
  margin: 0;
}


/* Thêm style cho các input khi hợp lệ và không hợp lệ */
.invalid-input {
  background-color: #f8d7da !important;
  border-color: #dc3545 !important;
}

.valid-input {
  background-color: #d4edda !important;
  border-color: #28a745 !important;
}

/* Chỉnh màu cho nút logout */
.logout-red {
  color: red;
  font-weight: bold;
}

