/* Register.css */
.register-container {
  height: 100vh;
  
}

.row {
  height: 100%;
}

.form-container-register {
  background-color: #fff;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: opacity 0.6s ease;
  border: 1px solid black;
  border-radius: 10px;
  margin: 100px auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow-y: auto;
}

.bg_rg_image {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  transition: transform 0.6s ease;
  width: 100%;
  height: 100vh;
  background: linear-gradient(225deg, #7abfff 0%, #2a2a2d 100%)
}

.form-container-register input {
  margin-bottom: 15px;
}

.gradient-hover-effect {
  display: flex;
  background: linear-gradient(90deg, #04ba50, transparent) #044815;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
}

.gradient-hover-effect:hover,
.gradient-hover-effect:focus {
  background-color: #2c1ee9;
  color: #fff;
}

.cancel-btn {
text-align: center;
  font-family: inherit;
  color: #fff;
  text-decoration: none;

}


.btn {
    border-radius: 20px;
}
/* Optional: You can set a fixed width for the logo */
.logo {
  width: 150px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .bg-image {
      display: none;
  }

  .form_container {
      min-height: 100vh;
      padding: 1.5em;
  }

  .form-container-register {
      width: 100%;
      padding: 15px;
  }

  .input-responsive {
      width: 100%;
      padding: 10px;
  }
}

.invalid-input {
  background-color: #f8d7da !important;
  border-color:#dc3545 !important;
}

.valid-input {
  background-color: #d4edda !important;
  border-color:#28a745 !important;
}