/* Register.css */
.register-container {
  height: 100vh;
  
}

.row {
  height: 100%;
}

.form-container-register {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-image {
  background-image: url('./bg_login.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
}

.form-container-register input {
  margin-bottom: 15px;
}

.gradient-hover-effect {
  display: flex;
  background: linear-gradient(90deg, #04ba50, transparent) #044815;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  transition: background-color 1s;
  place-content: center;
}

.gradient-hover-effect:hover,
.gradient-hover-effect:focus {
  background-color: #2c1ee9;
  color: #fff;
}

.cancel-btn {

  background: linear-gradient(90deg, #f44336, transparent) #f44336;
  font-family: inherit;
  color: #fff;
  text-decoration: none;

}

.cancel-btn:hover,.cancel-btn:focus {
        background-color: #d32f2f;
        color: #fff;
    }

    .btn {
        border-radius: 20px;
    }
/* Optional: You can set a fixed width for the logo */
.logo {
  width: 150px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .bg-image {
      display: none;
  }

  .form_container {
      min-height: 100vh;
      padding: 1.5em;
  }

  .form-container-register {
      width: 100%;
      padding: 15px;
  }

  .input-responsive {
      width: 100%;
      padding: 10px;
  }
}

.invalid-input {
  background-color: #f8d7da !important;
  border-color:#dc3545 !important;
}

.valid-input {
  background-color: #d4edda !important;
  border-color:#28a745 !important;
}